<h1>Edit Product </h1>

<form action="/products/<%= @product.id%>" method="post">
  <input type= "hidden" name= "_method" value= "patch">
  <div>
    Name: <input type="text" name="name" value="<%= @product.name%>">
  </div>
  <div>
    Price: <input type="number" name="price" value="<%= @product.price%>">
  </div>
  <div>
    Description: <input type="text" name="description" value="<%= @product.description%>">
  </div>
  <div>
    Supplier ID:<br>
    <select name="supplier_id" id="">
    <% Supplier.all.each do |supplier| %>
      <option value="<%= supplier.id %>"><%= supplier.name %> </option>
    <% end %>
  </div>

  <input type="submit" value="Edit Product">
</form>
<br>
<a href="/products/<%= @product.id %>" data-method="delete">Delete Product</a>
<br>
<a href="/products/">All Products</a>